*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdfde3;
}

h1{
    color:red;
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    color:navy;
    margin: 2rem;
    font-size: 1.8rem;
}

button{
    color: rgba(16, 119, 133, 0.87);
    border: none;
    padding: .8rem 1rem;
    font-weight: 600;
}

button:active{
    color: purple;
    scale: .95;
    box-shadow: 0px 0px 8px 2px red;
    border-radius: .4rem;
}