
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    background-color: rgb(17, 17, 17);
}

.parent{
    height: 16rem;
    width: 20rem;
    background-color: aliceblue;
    border-radius: .8rem;
    box-shadow: 0px 0px 10px 5px orange;
    text-align: center;
    padding-top: 4rem;
}

h2{
    font-size: 2.5rem;
    color: blue;
    margin-bottom: 1.5rem;
}

button{
    padding: .8rem 1rem;
    border: none;
    font-weight: 600;
    margin-left: .5rem;
    border-radius: .5rem;
    color: tomato;
}

button:active{
    scale: .95;
    box-shadow: 0px 0px 5px 2px red;
}
