
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(247, 233, 215, 0.692);
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.top{
  display: flex;
  gap: 1rem;
  width: 80%;
  height: 45%;
  background-color: rgb(183, 238, 172);
  border-radius: 1rem;
  padding: .4rem;
  margin-bottom: 2rem;
}

.bottom{
  display: flex;
  gap: .3rem;
}

button{
  background-color: rgba(255, 166, 0, 0.712);
  color: white;
  padding: .4rem;
  border: none;
  width: 9rem;
  border-radius: .8rem;
  
}