
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.parent{
  background-color: #333;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: .5rem;
}

form,button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .25rem .5rem;
}