
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    color: white;
    padding: 1rem;
    width: 16rem;
    height: 18rem;
    background-color: #333;
    text-align: center;
    border-radius: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
}