
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


.card{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1rem;
    height: 16rem;
    width: 12rem;
    cursor: pointer;
    border: solid black 2px;

}

#top{
    width: 100%;
}

#top>img{
    height: 100%;
    width: 100%;
    object-fit: center;
    
}

#bottom{
    margin: .15rem .2rem;
    background-color: rgba(245, 70, 6, 0.822);
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    width: 96%;
}

#bottom>h3{
    font-weight: 600;
    font-size: 1rem;
    padding-top: .25rem;
}

#bottom>h2{
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: .25rem;
}

#bottom>p{
    font-weight: 600;
    padding-bottom: .2rem;
}