
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}



#main{
    background-color:rgb(253, 250, 220);
    width: 90%;
    display: flex;
}

.card{
    position: relative;
    margin: 1rem;
    height: 16rem;
    width: 11rem;

}

#top>img{
    height: 60%;
    width: 100%;
}

#bottom{
    margin-left: .3rem;
    margin-right: .3rem;
    background-color: rgba(245, 70, 6, 0.822);
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    width: 96%;
}

#bottom>h3{
    font-weight: 400;
}

#bottom>h2{
    font-weight: 600;
}

#bottom>p{
    font-weight: 300;
}