
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  color: white;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  height: 100%;
}

.parent{
  border-radius: 1rem;
  text-align: center;
  background: linear-gradient(to left,rgba(0, 0, 128, 0.904),rgba(0, 128, 0, 0.822));
  height: 15rem;
  width: 20rem;
}

h2{
  font-size: 2.8rem;
  padding-top: 2.5rem;
  color: rgb(250, 164, 5);
}

button{
  padding: .5rem;
  border:none;
  margin-right: .8rem;
  margin-top: 1rem;
  border-radius: .5rem;
  font-size: medium;
  font-weight: 600;
  color: white;
}

button:active{
  scale: .95;
}

#btnInc{
  background-color: rgb(52, 55, 228);
}

#btnDesc{
  background-color: rgba(255, 0, 0, 0.897);
}