* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(190, 190, 190),
    rgb(253, 205, 205)
  );
}

.parent {
  padding: 0.5rem;
  height: 15rem;
  width: 22rem;
  background: linear-gradient(
    to top,
    rgba(122, 155, 253, 0.897),
    rgb(165, 187, 252),
    rgba(238, 131, 112, 0.904)
  );
  border-radius: 0.75rem;
  text-align: center;
}

h1 {
  color: navy;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

h2 {
  color: rgba(255, 0, 0, 0.822);
  margin: 1.2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

button {
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
  border: none;
  margin: 0.5rem;
  color: rgb(13, 94, 160);
  margin-bottom: 3rem;;
}

button:active {
  scale: 0.95;
}
